<section id="about">
  <div class="container">
    <row>
      <div class="col-12">
        <div class="section-title text-center">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div>
            <i class="la la-info"></i>
          </div>

          <h2 class="title mb-3 text-uppercase">What is BreachReport?</h2>

          <p class="mb-2"><span class="text-theme">BreachReport</span> is a digital security platform with the largest database of publicly displayed user information, created from over 10,000 separate data breaches, holding information on over 9 billion compromised emails that is constantly updated.</p>

          <p><span class="text-theme">BreachReport</span> focuses on providing solutions for safe internet use, promoting cybersecurity awareness and bringing exclusive breach investigations into the spotlight.</p>
        </div>
      </div>
    </row>
  </div>
</section>
