<div class="modal fade" id="before-close-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="featured-item style-2">
        <div class="featured-title text-center">
          <h5>Make your first step to personal data security</h5>
        </div>
        <div class="featured-desc text-center">
          <p class="mb-5">Check whether your e-mail is compromised</p>

          <div data-form-verify="container" class="subscribe-form mb-1">
            <form id="mc-form" class="group" data-form-verify="form">
              <input type="email" value="" name="search" class="email" placeholder="Email address" required="">
              <button class="btn btn-theme" type="submit">Verify</button>
            </form>

              <div data-form-verify="notes" class="mt-2" style="min-height: 110px;">
                <p data-form-note="success" class="small" style="display: none">* We sent the verification link to your mailbox. Follow the instructions from the email to access Breach Report.</p>
                <p data-form-note="error" class="small text-danger" style="display: none">* Something went wrong, try again later</p>
                <p data-form-note="exist" class="small text-warning" style="display: none">* Account with such email already exists</p>
              </div>
          </div>

          <p class="mb-0 text-center mt-3">
            <a data-dismiss="modal" href="#" class="btn btn-dark btn-sm">Close</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
