<div class="toast hide" id="cookie-policy-toast" tabindex="-1" role="alert" aria-hidden="true">
  <div class="toast-body">
    <div class="featured-item style-2">
      <div class="featured-desc text-center">
        <p class="mb-2">Our website uses cookies to ensure the best website experience.</p>
        <p class="mb-5">By clicking ‘Accept’ or navigating through the site you agree with our <a target="_blank" href="/privacy-policy#cookie-policy">Cookie policy</a></p>
        <p>
          <a href="#" data-accept-btn class="btn btn-theme">Accept</a>
        </p>
      </div>
    </div>
  </div>
</div>
