<div class="modal fade" id="cookie-policy-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="featured-item style-2">
        <div class="featured-desc text-center">
          <p class="mb-2 h5">Our website uses cookies to ensure the best website experience.</p>
          <p class="mb-5 h5">By clicking ‘Accept’ or navigating through the site you agree with our <a href="privacy-policy.html#cookie-policy">Cookie policy</a></p>
          <p>
            <a href="#" data-accept-btn class="btn btn-theme">Accept</a>
          </p>
      </div>
    </div>
  </div>
</div>
