<footer class="footer dark-bg pos-r animatedBackground" data-bg-img="assets/imgs/pattern/03.png" style="background-image: url('assets/imgs/pattern/03.png');">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo mb-4">
            <img id="footer-logo-white-img" class="img-center" src="assets/imgs/br-logotype-vert-white.png" alt="Breachreport Logotype">
          </div>
          <h5 class="text-white">Contact us for insights and collaborations!</h5>
          <p class="mb-0">BreachReport team is welcoming interested security specialists and cybersecurity enthusiasts to contact us to share knowledge and practices for the safer internet.</p>
        </div>

        <div class="col-lg-5 col-md-12 md-mt-5 footer-list justify-content-between d-lg-flex ml-lg-auto">
          <ul class="list-unstyled">
            <li><h4>Documentation</h4>
            </li>
            <li><a href="about-us.html">API</a>
            </li>
            <li><a href="services.html">Terms of Use</a>
            </li>
            <li><a href="team.html">Privacy Policy</a>
            </li>
            <li><a href="team-single.html">Cookies Policy</a>
            </li>
          </ul>

          <ul class="list-unstyled">
            <li><h4>Social</h4>
            </li>
            <li><a href="//twitter.com/breachreports"><i class="fab fa-twitter mr-2"></i>Twitter</a>
            </li>
            <li><a href="//www.facebook.com/breachreport/"><i class="fab fa-facebook mr-2"></i>Facebook</a>
            </li>
            <li><a href="//www.reddit.com/user/breachreport"><i class="fab fa-reddit mr-2"></i>Reddit</a>
            </li>
            <li><a href="//medium.com/@breachreportnews/we-report-public-leaks-of-security-breaches-a092c1e571d9"><i class="fab fa-medium mr-2"></i>Medium</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
