<section id="home" class="p-0 dark-bg">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 mb-3">
        <h2 class="h1 mb-0 font-weight-bold fadeIn text-uppercase text-center text-white" data-wow-duration="1.5s" style="visibility: visible;" data-wow-offset="-100">Number of compromised emails</h2>

        <h2 class="h1 font-weight-bold fadeIn text-center text-white mb-5" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; font-size: 4rem;" data-count-number data-speed="100000" data-to="2600000000" data-from="2590000000" data-formatter="comma" data-repeat="true" data-wow-offset="-100">2,600,000,000</h2>

        {# <p class="h5 mb-5 wow fadeIn text-center font-weight-normal text-muted" data-wow-duration="1s" data-wow-delay=".6s" style="visibility: visible;" data-wow-offset="-100">50% of existing email addresses have been breached and leaked to the web</p> #}

      </div>
      {# <div class="col-12 text-white text-center h5 font-weight-normal d-flex flex-column align-items-center">
        <p class="mb-1 fadeInLeft " data-wow-duration=".5s" data-wow-delay=".5s" style="visibility: visible;" data-wow-offset="-100">Do you want to stay in <span class="text-theme-contrast">the unknown</span> and gamble with your privacy?</p>
        <p class="mb-1 fadeInLeft wow" data-wow-duration=".3s" data-wow-delay="0.5s" style="visibility: visible;" data-wow-offset="-100">Passwords should protect your privacy.</p>
        <p class="mb-1 fadeInLeft wow" data-wow-duration=".3s" data-wow-delay="1.5s" style="visibility: visible;" data-wow-offset="-100">50% of all emails has been <span class="text-theme-contrast">leaked</span> to the web.</p>
        <p class="mb-1 fadeInLeft wow" data-wow-duration=".3s" data-wow-delay="2.5s" style="visibility: visible;" data-wow-offset="-100">The <span class="text-theme-contrast">actual number</span> of all breached emails is unknown.</p>
        <p class="mb-0 fadeInLeft wow" data-wow-duration=".3s" data-wow-delay="3.5s" style="visibility: visible;" data-wow-offset="-100">The odds of your email being breached are the same as in <span class="text-theme-contrast">flipping a coin</span>.</p>
      </div> #}


      {# <div class="col-12 position-relative arrow-container mt-2 mb-3 fadeIn wow" data-wow-duration=".7s" data-wow-delay="4s" style="visibility: visible;" data-wow-offset="-100">
        <span class="arrow">
          <i class="la la-angle-double-down"></i>
        </span>
      </div> #}
      <div class="col-12">
        <p class="h2 text-uppercase fadeIn text-center mb-4 text-theme" data-wow-duration="1s" data-wow-delay="3.8s" style="visibility: visible;" data-wow-offset="-100">FIND OUT IF YOUR EMAIL WAS INVOLVED IN A HACK</p>
      </div>

      <div id="jumbotron-verify" data-form-verify="container" class="col-12 col-lg-8" style="min-height: 330px;">
        <div class="subscribe-form sm-mt-2 fadeIn" data-wow-duration="1s" data-wow-delay="4s" style="visibility: visible;" data-wow-offset="-100">
          <form id="mc-form" class="group" data-form-verify="form">
            <input type="email" value="" name="search" class="email" placeholder="Enter your email - check for breaches" required="">
            <span class="animated-btn">
              <button class="btn btn-theme animated-btn__btn mc-form-submit" type="submit">
                Search
                <div class="page-loader-wrapper">
                  <img class="page-loader__spinner" src="/assets/img/loader.svg">
                  <img src="/assets/img/loaderLogo.svg">
                </div>
              </button>

              <span class="animated-btn__bg"></span>
            </span>
          </form>
        </div>


        <div data-form-verify="notes" class="mt-4">
          {# <p data-form-note="success" class="text-center text-lg-left small" style="display: none">* We sent the verification link to your mailbox. Follow the instructions from the email to access Breach Report.</p> #}
          {# <p data-form-note="error" class="text-center text-lg-left small text-danger" style="display: none">* Something went wrong, try again later</p> #}
          {# <p data-form-note="exist" class="text-center text-lg-left small text-warning" style="display: none">* Account with such email already exists</p> #}
        </div>
      </div>

      {# <div class="col-12 mt-5 pt-3">
        <div class="row">
          <div class="col-12 col-lg-6 mb-5 mb-lg-0 h5 font-weight-normal text-justify">
            <p class="text-muted wow fadeIn mb-4" data-wow-duration="1s" data-wow-delay="1.8s" style="visibility: visible;" data-wow-offset="-100">
              By the time you finish reading this sentence, hundreds of emails will be lost, sold, or exploited.
            </p>

            <p class="text-muted wow fadeIn mb-0" data-wow-duration="1s" data-wow-delay="2.1s" style="visibility: visible;" data-wow-offset="-100">
              Breach Report does all the hard work and instantly notifies you when your account has been compromised.
            </p>
          </div>

          <div class="col-12 col-lg-6 h5 font-weight-normal mt-5 mt-lg-0 text-justify">
            <p class="text-muted wow fadeIn mb-4" data-wow-duration="1s" data-wow-delay="2.4s" style="visibility: visible;" data-wow-offset="-100">
              <span class="font-weight-bold text-theme">$12,500,000,000</span> - The amount of money businesses lost in 2018 due to email fraud.
            </p>

            <p class="text-muted wow fadeIn mb-0" data-wow-duration="1s" data-wow-delay="2.7s" style="visibility: visible;" data-wow-offset="-100">
              With <span class="font-weight-bold text-theme">Breach Report</span> you can be sure YOU WILL BE the first to know about the invasion of YOUR privacy
            </p>
          </div>
        </div>
      </div> #}
    </div>
  </div>
</section>
