<section id="home" class="fullscreen-banner banner p-0" style="height: 1006px;">
  <div class="align-center pt-0" style="padding-top: 90px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 ml-auto md-mt-5 md-mb-7">
          <h2 class="h1 mb-0 font-weight-bold wow fadeInUp text-uppercase text-center" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">Number of compromised emails</h2>

          <h2 class="h1 mb-5 font-weight-bold wow fadeInUp text-center" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">9,189,978,701</h2>

          <p class="lead mb-0 wow fadeInUp text-center" data-wow-duration="2s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">As of now, there are more compromised emails than there are people on Earth.</p>

          <p class="h4 text-uppercase mb-5 wow fadeInUp text-center text-theme" data-wow-duration="2s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">FIND OUT IF YOUR EMAIL WAS HACKED</p>

          <div class="subscribe-form sm-mt-2 wow fadeInUp mb-4" data-wow-duration="3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <form id="mc-form" class="group">
              <input type="email" value="" name="search" class="email" placeholder="Email address" required="">
              <button class="btn btn-theme" type="submit">Search</button>
            </form>
          </div>

          <p class="text-muted wow fadeInUp text-center" data-wow-duration="3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;">
            By the time you finish reading this sentence, hundreds of emails will be lost, sold, or exploited. BreachReport does all the hard work for you and instantly notifies you when your account has been compromised.
          </p>

          <p class="text-muted wow fadeInUp text-center" data-wow-duration="3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <span class="font-weight-bold">$12,500,000,000.</span> The amount of money businesses lost in 2018 as a result of email fraud.
          </p>

          <p class="text-muted wow fadeInUp text-center" data-wow-duration="3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;">
            With <span class="font-weight-bold">BreachReport</span> you can be sure YOUR information stays with YOU.
          </p>
        </div>
      </div>
    </div>
  </div>
  <svg class="wave-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z"></path>
    </defs>
    <g class="wave-bg">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#f8f8f8"></use>
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#fbfbfb"></use>
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#ffffff"></use>
    </g>
  </svg>
</section>
