<section id="home" class="fullscreen-banner banner p-0 dark-bg" style="height: 1006px;">
  <div class="align-center pt-0" style="padding-top: 90px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 ml-auto">
          <h2 class="h1 mb-0 font-weight-bold wow fadeInUp text-uppercase text-center text-white" data-wow-duration="1.5s" style="visibility: visible;">Number of compromised emails</h2>

          <h2 class="h1 font-weight-bold wow fadeInUp text-center text-white" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; font-size: 4rem;" data-count-number data-speed="100000" data-to="9189978701" data-from="9189908701">9,189,978,701</h2>

          <p class="h5 mb-5 wow fadeInUp text-center font-weight-normal" data-wow-duration="1s" data-wow-delay=".6s" style="visibility: visible;">As of now, there are more compromised emails than there are people on Earth.</p>

          <p class="h4 text-uppercase mb-1 wow fadeInUp text-center text-theme" data-wow-duration="1s" data-wow-delay="1.2s" style="visibility: visible;">FIND OUT IF YOUR EMAIL WAS HACKED</p>

          <div class="subscribe-form sm-mt-2 wow fadeInUp mb-5" data-wow-duration="1s" data-wow-delay="1.5s" style="visibility: visible;">
            <form id="mc-form" class="group">
              <input type="email" value="" name="search" class="email" placeholder="Enter your email - check for breaches" required="">
              <button class="btn btn-theme" type="submit">Search</button>
            </form>
          </div>

          <p class="text-muted wow fadeInUp text-center mb-0 home__note" data-wow-duration="1s" data-wow-delay="1.8s" style="visibility: visible;">
            By the time you finish reading this sentence, hundreds of emails will be lost, sold, or exploited.
          </p>

          <p class="text-muted wow fadeInUp text-center home__note" data-wow-duration="1s" data-wow-delay="2.1s" style="visibility: visible;">
            Breach Report does all the hard work for you and instantly notifies you when your account has been compromised.
          </p>

          <p class="text-muted wow fadeInUp text-center h5 home__info mt-5 mt-lg-0" data-wow-duration="1s" data-wow-delay="2.4s" style="visibility: visible;">
            <span class="font-weight-bold text-theme">$12,500,000,000</span> - The amount of money businesses lost in 2018 due to email fraud.
          </p>

          <p class="text-muted wow fadeInUp text-center h5 home__info" data-wow-duration="1s" data-wow-delay="2.7s" style="visibility: visible;">
            With <span class="font-weight-bold text-theme">Breach Report</span> you can be sure YOU WILL BE the first to know about the invasion of YOUR privacy
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
