<section id="how-it-works" class="overflow-hidden text-center dark-bg" style='background-image: url("assets/imgs/pattern/01.png"); background-position: 80% 35%;'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div>
            <i class="la la-gear"></i>
          </div>

          <h2 class="title mb-3 text-uppercase">How it works</h2>
        </div>
      </div>
    </div>

    <div class="row pos-r align-items-stretch">
      <div class="col-lg-4 col-md-12">
        <div class="work-process h-100">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="la la-bolt"></i></span>
            </div>
            <div class="step-num">01</div>
          </div>
          <div class="step-desc">
            <h4>Registration</h4>
            <p class="mb-0">Go to breachreport.com and enter your email. After the search for your email in the databases, click on VERIFY. Wait for the confirmation email to arrive.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="work-process h-100">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="la la-envelope"></i></span>
            </div>
            <div class="step-num">02</div>
          </div>
          <div class="step-desc">
            <h4>Email Confirmation</h4>
            <p class="mb-0">Follow the instructions from the email.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="work-process h-100">
          <div class="step-num-box">
            <div class="step-icon"><span><i class="la la-edit"></i></span>
            </div>
            <div class="step-num">03</div>
          </div>
          <div class="step-desc">
            <h4>Password Generation</h4>
            <p class="mb-0">In the "enter new password" field, enter a strong password and explore the portal services/features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
