<div class="modal fade" id="no-purchase-notification-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="featured-item style-2">
        <div class="featured-desc text-center">
          <p class="mb-2">At the moment we are developing our payment protocol. Please, subscribe to our <a href="#subscription" data-modal-animate-scroll>newsletter</a> or use our <a href="#home" data-modal-animate-scroll>free service</a> and we will immediately inform you once the payments become available.</p>

          <p class="mb-5">P. S. You can expect a thank-you gift for keeping you waiting.</p>

          <p class="mb-0 text-center">
            <a data-dismiss="modal" href="#" class="btn btn-dark btn-sm">Close</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
