<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title mb-4 pb-2 text-uppercase d-flex flex-column">
            <span class="mb-4">A free solution for your privacy security!</span>

            <span>
              <span class="animated-btn">
                <a href="#jumbotron-verify" class="btn btn-lg btn-theme animated-btn__btn" class="font-weight-bold" data-animate-scroll data-animate-scroll-offset="210">Try for free</a>

                <span class="animated-btn__bg"></span>
              </span>
            </span>
          </h2>

          <h5>Free access to Breach Report includes:</h5>
          <p class="mb-2">Monitoring and Alerting of 5 email accounts</p>
          <p class="mb-2">Limited monitoring of 1 domain</p>
          <p class="">1-month free API access</p>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4 col-12">
        <div class="price-table d-flex flex-column align-items-center h-100">
          <div class="price-inside">StartUp</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>20</h2>
              <span>Monthly Package</span>
            </div>
            <h4 class="price-title">StartUp</h4>
          </div>

          <div class="price-list flex-grow-1 text-left">
            <ul class="list-unstyled">
              <li>
                <p class="mb-2 font-weight-bold">Realtime credential leak monitoring and alerting:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> 20 email accounts</li>
                  <li class="pl-5"><i class="la la-check"></i> 5 domains</li>
                </ul>
              </li>
              <li>
                <p class="mb-2 font-weight-bold">API:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> 1,000 calls</li>

                  <li class="mb-0 pl-5"><i class="la la-check"></i> Calls for password checks with NIST compliance and reliability</li>

                  <li class="pl-5"><i class="la la-check"></i> Access to API knowledgebase</li>
                </ul>

              </li>
              <li class="font-weight-bold">Helpdesk support</li>
            </ul>
          </div>

          <a class="btn btn-theme btn-circle my-4" href="#" data-text="Purchase Now" data-toggle="modal" data-target="#no-purchase-notification-modal"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-5 mt-md-0">
        <div class="price-table d-flex flex-column align-items-center h-100">
          <div class="price-inside">Medium</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>40</h2>
              <span>Monthly Package</span>
            </div>
            <h4 class="price-title">Medium</h4>
          </div>

          <div class="price-list flex-grow-1 text-left">
            <ul class="list-unstyled">
              <li>
                <p class="mb-2 font-weight-bold">Realtime credential leak monitoring and alerting:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> 50 email accounts</li>
                  <li class="pl-5"><i class="la la-check"></i> 10 domains</li>
                </ul>
              </li>

              <li>
                <p class="mb-2 font-weight-bold">API:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> 10,000 calls</li>

                  <li class="mb-0 pl-5"><i class="la la-check"></i> Calls for password checks with NIST compliance and reliability</li>

                  <li class="pl-5"><i class="la la-check"></i> Access to API knowledgebase</li>
                </ul>
              </li>

              <li class="font-weight-bold">Helpdesk support</li>

              <li class="font-weight-bold">Integration support</li>

              <li class="font-weight-bold">Reports on new breaches</li>

              <li>
                <p class="mb-2 font-weight-bold">Takeover Prevention Features:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> Multiple users with access permissions</li>

                  <li class="mb-0 pl-5"><i class="la la-check"></i> Automatic leak detection</li>

                  <li class="pl-5"><i class="la la-check"></i> Password reset</li>
                </ul>
              </li>
            </ul>
          </div>

          <a class="btn btn-theme btn-circle my-4" href="#" data-text="Purchase Now" data-toggle="modal" data-target="#no-purchase-notification-modal"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-5 mt-md-0">
        <div class="price-table d-flex flex-column align-items-center h-100">
          <div class="price-inside">Large</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>100</h2>
              <span>Monthly Package</span>
            </div>
            <h4 class="price-title">Large</h4>
          </div>

          <div class="price-list flex-grow-1 text-left">
            <ul class="list-unstyled">
              <li>
                <p class="mb-2 font-weight-bold">Realtime credential leak monitoring and alerting:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> Unlimited email accounts</li>
                  <li class="pl-5"><i class="la la-check"></i> Unlimited domains</li>
                </ul>
              </li>

              <li>
                <p class="mb-2 font-weight-bold">API:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> 50,000 calls</li>

                  <li class="mb-0 pl-5"><i class="la la-check"></i> Calls for password checks with NIST compliance and reliability</li>

                  <li class="pl-5"><i class="la la-check"></i> Access to API knowledgebase</li>
                </ul>
              </li>

              <li class="font-weight-bold">Helpdesk support</li>

              <li class="font-weight-bold">Integration support</li>

              <li class="font-weight-bold">Reports on new breaches</li>

              <li>
                <p class="mb-2 font-weight-bold">Takeover Prevention Features:</p>

                <ul class="list-unstyled list-icon small text-left px-1">
                  <li class="mb-0 pl-5"><i class="la la-check"></i> Multiple users with access permissions</li>

                  <li class="mb-0 pl-5"><i class="la la-check"></i> Automatic leak detection</li>

                  <li class="pl-5"><i class="la la-check"></i> Password reset</li>
                </ul>
              </li>
            </ul>
          </div>

          <a class="btn btn-theme btn-circle my-4" href="#" data-text="Purchase Now" data-toggle="modal" data-target="#no-purchase-notification-modal"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
