<div class="row">
  {% for item in range(3) %}
  <div class="col-12 col-md-4">
    <p class="page-report-domain-text">Name: britishairways.com</p>
    <p class="page-report-domain-text">LOREM IPSUM: 47747474-VRSN</p>
    <p class="page-report-domain-text">LOREM IPSUM: xcxvjcvjhdgbvjdhgfvhdgvhd</p>
    <p class="page-report-domain-text">lorem ipsum:</p>
    <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
    <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
    <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
    <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>

    <p class="page-report-domain-heading">Dates</p>

    <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
    <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
    <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
  </div>
  {% endfor %}
</div>
