{% import "blocks/box.njk" as box %}

<div class="row">
  <div class="col-12 col-xl-7 d-flex justify-content-center justify-content-xl-start">
    {% set contentBoxOne %}
      <p class="page-report-password-value">348,963</p>
      <p class="page-report-password-text">equal passwords found among other compromised accounts</p>
    {% endset %}

    {{ box.make({ content: contentBoxOne, class: 'box_narrow box_short', heading: 'Password check', plate: 'Password Block' })}}

    {% set contentBoxTwo %}
      <p class="page-report-password-value">55</p>
      <p class="page-report-password-text">times your data has been mentioned on the dark web</p>
    {% endset %}

    {{ box.make({ content: contentBoxTwo, class: 'box_narrow box_short box_theme_turquoise', heading: 'Mentions', plate: 'Password protection chart' })}}
  </div>
  <div class="col-12 col-xl-5 d-flex justify-content-center">
    {% set contentBoxThree %}
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-center">
        <p class="page-report-password-value">5</p>
        <p class="page-report-password-text">databases contain this account</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-center">
        <p class="page-report-password-value">3</p>
        <p class="page-report-password-text">email-password combinations in plain text found</p>
      </div>
    </div>
    {% endset %}

    {% set contentBoxHeading %}
    <span class="d-flex flex-column text-center">
      <span class="mb-2">Most compromised account:</span>
      <span class="page-report-password-emphasis">hr@britishairways.com</span>
    </span>
    {% endset %}

    {{ box.make({ content: contentBoxThree, class: 'box_narrow box_theme_green', heading: contentBoxHeading, plate: 'Corporate email affected by the biggest no. breaches' })}}
  </div>
</div>
