<div class="row">
  <div class="col-12 page-report-domain">
    <div class="domain mx-md-auto mx-xl-0">
      <div class="domain-img" style="background-image: url({{ url + 'assets/imgs/report-krypton-domain-preview.png'}});"></div>

      <div class="domain-info">
        <p class="domain-email">25 emails</p>
        <p class="domain-email-caption">were found in breached databases</p>
        <p class="domain-why-important"><a href="#">Why is it important</a></p>
      </div>

      <div class="domain-eval">
        <span class="domain-eval-letter">F</span>
        <span class="domain-eval-percent">89%</span>
      </div>

    </div>

    <div class="page-report-domain-info mx-md-auto mx-xl-0">
      <h2 class="page-report-heading mt-5 mt-md-3">
        Domain information
      </h2>

      <p class="page-report-domain-text">Name: britishairways.com</p>
      <p class="page-report-domain-text">LOREM IPSUM: 47747474-VRSN</p>
      <p class="page-report-domain-text">LOREM IPSUM: xcxvjcvjhdgbvjdhgfvhdgvhd</p>
      <p class="page-report-domain-text">lorem ipsum:</p>
      <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
      <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
      <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>
      <p class="page-report-domain-text">cxc: cbvcvcvc 169 3354 655 545</p>

      <p class="page-report-domain-heading">Dates</p>

      <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
      <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
      <p class="page-report-domain-text">LOREM IPSUM; 55445454545-65-56-65-56</p>
    </div>
  </div>
</div>
