<section>
  <div class="container">
    <div class="row counter">
      <div class="col-12 col-lg-4">
        {# <div class="counter-icon">
          <img class="img-center" src="{{ url + 'assets/imgs/counter/04.png'}}" alt="">
        </div> #}

        <div class="counter-desc">
          <span data-count-number data-speed="5000" data-to="11000" data-from="10000" data-formatter="comma">11,000</span>
          <h5>breached files</h5>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        {# <div class="counter-icon">
          <img class="img-center" src="{{ url + 'assets/imgs/counter/04.png'}}" alt="">
        </div> #}

        <div class="counter-desc">
          <span>
            <span data-count-number data-speed="5000" data-to="1400" data-from="0" data-formatter="billion" class="m-0">14.00</span> billion
          </span>
          <h5>lines of breached information</h5>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        {# <div class="counter-icon">
          <img class="img-center" src="{{ url + 'assets/imgs/counter/04.png'}}" alt="">
        </div> #}

        <div class="counter-desc">
          <span>
            <span data-count-number data-speed="5000" data-to="260" data-from="0" data-formatter="billion" class="m-0">2.6</span> billion
          </span>
          <h5>unique email addresses</h5>
        </div>
      </div>
    </div>
  </div>
</section>
