<section>
  <div class="container">
    <div class="row counter">
      <div class="col-12 col-lg-4">
        <div class="counter-icon">
          <img class="img-center" src="assets/imgs/counter/04.png" alt="">
        </div>

        <div class="counter-desc">
          <span>11,000</span>
          <h5>breached files</h5>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="counter-icon">
          <img class="img-center" src="assets/imgs/counter/04.png" alt="">
        </div>

        <div class="counter-desc">
          <span>11.21 billion</span>
          <h5>lines of breached information</h5>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="counter-icon">
          <img class="img-center" src="assets/imgs/counter/04.png" alt="">
        </div>

        <div class="counter-desc">
          <span>2.39 billion</span>
          <h5>unique email addresses</h5>
        </div>
      </div>
    </div>
  </div>
</section>
