<section id="subscription" data-bg-img="assets/imgs/bg/05.png" style='background-image: url("assets/imgs/bg/05.png"); background-position: 50% 0%;'>
  <div class="subscribe-box w-100">
    <div class="container">

      <div class="row subscribe-inner align-items-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <h4 class="col-12">Subscribe to our newsletter!</h4>

            <div class="col-12">
              <p class="lead mb-0">Get weekly updates on major breaches and useful information to stay on top of cybercrime.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="subscribe-form">
            <form id="mc-form" class="group">
              <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
              <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
            </form>

            <div data-after-subscription style="display: none;">
              <h4 class="mb-0 text-center">Thanks for Subscribing!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
