<template data-form-verify-t="error">
    <p class="text-center mb-2 text-theme-contrast">
      * Something went wrong, try again later.
    </p>
  </template>

  <template data-form-verify-t="has-breaches">
    <p class="text-center text-theme-contrast mb-3 h3 text-uppercase text-pulsate">
      Oh no! The entered email address <br>was found in <span data-form-verify-breaches>several breaches</span>.
    </p>
  </template>

  <template data-form-verify-t="no-breaches">
    <p class="text-center text-theme-success mb-3 h3 text-uppercase text-pulsate">
      Congratulations! <br>Your email wasn't found in any existing breaches.
    </p>
  </template>

  <template data-form-verify-t="btn-fail">
    <p class="text-center small mb-3">
      <a href="#" class="btn btn-theme btn-sm" data-form-verify-btn>Learn more</a>
    </p>
  </template>

  <template data-form-verify-t="btn-success">
    <p class="text-center small mb-3">
      <a href="#" class="btn btn-theme btn-sm" data-form-verify-btn>Notify me</a>
    </p>
  </template>

  <template data-form-verify-t="unreg-fail">
    <p class="text-center small mb-3 text-white">
      * To access detailed list of breaches you are required to verify that you are the owner of this email address. We will
      instantly send the verification link to your mailbox.
    </p>
  </template>

  <template data-form-verify-t="unreg-success">
    <p class="text-center small mb-3 text-white">
      Verify your email address and we will notify you if we find your account in the future breaches.
    </p>
  </template>

  <template data-form-verify-t="unreg-msg">
    <p class="text-center small mb-23 text-white">
      We sent an email with instructions on how to activate your Breach Report account.
    </p>
  </template>

  <template data-form-verify-t="unver">
    <p class="text-center small mb-3 text-white">
      The account with this email address already exists. We sent the verification link to your mailbox. Follow the instructions from the email to access Breach Report.
    </p>
  </template>

  <template data-form-verify-t="ver">
    <p class="text-center small mb-3 text-white">
      The account with this email address already exists. <a href="/portal/login">Click here</a> to sign in to your account.
    </p>
  </template>
