<section id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          {# <div class="title-effect title-effect-2">
            <div class="ellipse"></div>
            <i class="la la-bank"></i>
          </div> #}

          <h2 class="title mb-3 text-uppercase">What we do</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5 d-lg-none">
      <div class="col-12">
        <div class="owl-carousel owl-theme owl-loaded owl-drag" data-dots="true" data-items="8" data-lg-items="3" data-md-items="2" data-sm-items="1" data-autoplay="false">
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon1.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Real-time Monitoring</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Get real-time updates about your email accounts status.</p>

                <div class="collapse" id="what-we-do-mob-feature-1">
                  <p class="mb-2">Proactive, not reactive. Breach Report reports have real-time credential leaks monitoring which means our database gets updated instantly.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon2.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Account Takeover Protection</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">24/7 protection against theft, spam, fraud and attacks</p>

                <div class="collapse" id="what-we-do-mob-feature-2">
                  <p class="mb-2">Breaches can happen anytime. Even when you’re sleeping. That’s why Breach Report can automatically change your email account credentials as soon as the system finds a positive match.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon3.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Detailed Reports</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">More than just a notification</p>

                <div class="collapse" id="what-we-do-mob-feature-3">
                  <p class="mb-2">Get detailed reports with Breach Report including the source, form of the attack, scope, and any additional known information about the breach. </p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-3" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon4.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>In-Depth investigation</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">When? How? Why?</p>

                <div class="collapse" id="what-we-do-mob-feature-4">
                  <p class="mb-2">A data breach takes time, effort, motivation, and planning to execute. The team at Breach Report investigates data breaches by running an in-depth audit and providing you with a comprehensive action plan. </p>

                  <p class="mb-2">We also analyze the latest breaches and publish findings, both on our blog and weekly newsletter. </p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-4" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon5.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Credentials Recovery</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Detect, Track and Recover</p>

                <div class="collapse" id="what-we-do-mob-feature-5">
                  <p class="mb-2">Recover lost passwords and gain back control of your email accounts.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-5" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon6.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Cloud Integration</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Easy access to reports over cloud</p>

                <div class="collapse" id="what-we-do-mob-feature-6">
                  <p class="mb-2">Full integration with the cloud offers an easy access to your in-house cybersecurity department with all the necessary information via our high-speed links. </p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon7.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>Customized Solutions</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Different solutions for different needs</p>

                <div class="collapse" id="what-we-do-mob-feature-7">
                  <p class="mb-2">Every business has unique security needs and Breach Report enables you to customize solutions to your liking, including special protocols to be following during a breach.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-7" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="featured-item style-2 text-center">
              <div class="featured-icon">
                <img class="" src="assets/imgs/features/icon8.svg" alt="" width="135">
              </div>
              <div class="featured-title">
                <h5>API Access</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Friendly API watchdog integration</p>

                <div class="collapse" id="what-we-do-mob-feature-8">
                  <p class="mb-2">Protect your website with our comprehensive API which includes: full breached domain information, domain watchdog, monitoring of verified email accounts and domains, and detailed breach lookup.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-mob-feature-8" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>

    <div class="row mt-5 d-none d-lg-flex justify-content-center">
      <div class="col-lg-4 col-12 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon1.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Real-time Monitoring</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Get real-time updates about your email accounts status.</p>

            <div class="collapse" id="what-we-do-feature-1">
              <p class="mb-2">Proactive, not reactive. Breach Report reports have real-time credential leaks monitoring which means our database gets updated instantly.</p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-1" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-0 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon2.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Account Takeover Protection</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">24/7 protection against theft, spam, fraud and attacks</p>

            <div class="collapse" id="what-we-do-feature-2">
              <p class="mb-2">Breaches can happen anytime. Even when you’re sleeping. That’s why Breach Report can automatically change your email account credentials as soon as the system finds a positive match.</p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-2" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-0 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon3.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Detailed Reports</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">More than just a notification</p>

            <div class="collapse" id="what-we-do-feature-3">
              <p class="mb-2">Get detailed reports with Breach Report including the source, form of the attack, scope, and any additional known information about the breach. </p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-3" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon4.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>In-Depth investigation</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">When? How? Why?</p>

            <div class="collapse" id="what-we-do-feature-4">
              <p class="mb-2">A data breach takes time, effort, motivation, and planning to execute. The team at Breach Report investigates data breaches by running an in-depth audit and providing you with a comprehensive action plan. </p>

              <p class="mb-2">We also analyze the latest breaches and publish findings, both on our blog and weekly newsletter. </p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-4" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon5.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Credentials Recovery</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Detect, Track and Recover</p>

            <div class="collapse" id="what-we-do-feature-5">
              <p class="mb-2">Recover lost passwords and gain back control of your email accounts.</p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-5" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon6.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Cloud Integration</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Easy access to reports over cloud</p>

            <div class="collapse" id="what-we-do-feature-6">
              <p class="mb-2">Full integration with the cloud offers an easy access to your in-house cybersecurity department with all the necessary information via our high-speed links. </p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-6" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon7.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>Customized Solutions</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Different solutions for different needs</p>

            <div class="collapse" id="what-we-do-feature-7">
              <p class="mb-2">Every business has unique security needs and Breach Report enables you to customize solutions to your liking, including special protocols to be following during a breach.</p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-7" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon8.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5>API Access</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Friendly API watchdog integration</p>

            <div class="collapse" id="what-we-do-feature-8">
              <p class="mb-2">Protect your website with our comprehensive API which includes: full breached domain information, domain watchdog, monitoring of verified email accounts and domains, and detailed breach lookup.</p>
            </div>

            <p class="mb-0 text-center">
              <a data-toggle="collapse" href="#what-we-do-feature-8" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span data-toggle-hidden>Read more</span>
                <span data-toggle-shown>Collapse</span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 mt-4 mt-lg-3 feature-container">
        <div class="featured-item style-2 text-center">
          <div class="featured-icon">
            <img class="" src="assets/imgs/features/icon8.svg" alt="" width="135">
          </div>
          <div class="featured-title">
            <h5 class="text-uppercase text-white">Comming soon</h5>
          </div>
          <div class="featured-desc">
            <p class="mb-2">Scan and monitor usernames, phone numbers, addresses, and other personal identifiable information.</p>
            <p class="mb-0"><a data-animate-scroll href="#pricing">Stay tuned!</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
