<section id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div>
            <i class="la la-bank"></i>
          </div>

          <h2 class="title mb-3 text-uppercase">What we do</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center pos-r mb-5">
      <div class="col-lg-6 col-md-12 order-lg-12 image-column right">
        <div class="blink-img">
          <img class="img-fluid blinkblink" src="assets/imgs/pattern/04.png" alt="">
        </div>
        <img src="assets/imgs/svg/01.svg" alt="" class="img-fluid z-index-1 w-100">
      </div>

      <div class="col-lg-6 col-md-12 md-mt-5 order-lg-1">
        <div id="what-we-do-accordion-1" class="accordion style-1 py-5 my-5">
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-1" href="#what-we-do-accordion-1-item-1" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-desktop h1 mb-0 mr-2"></i>
                  Real-time Monitoring
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-1-item-1" class="collapse" data-parent="#what-we-do-accordion-1" style="">
              <div class="card-body">
                <p class="mb-2">Proactive, not reactive. Get real-time updates about your email accounts status.</p>
                <p class="mb-0">Breach Report reports have real-time credential leaks monitoring which means our database gets updated instantly.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-1" href="#what-we-do-accordion-1-item-2" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-shield h1 mb-0 mr-2"></i>
                  Account Takeover Protection
                </a>
              </h6>
            </div>

            <div id="what-we-do-accordion-1-item-2" class="collapse" data-parent="#what-we-do-accordion-1" style="">
              <div class="card-body">
                <p class="mb-2">Protection against theft, spam, fraud, and attacks 24/7.</p>
                <p class="mb-0">Breaches can happen anytime. Even when you’re sleeping. That’s why Breach Report can automatically change your email account credentials as soon as the system finds a positive match.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-1" href="#what-we-do-accordion-1-item-3" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-folder h1 mb-0 mr-2"></i>
                  Detailed Reports
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-1-item-3" class="collapse" data-parent="#what-we-do-accordion-1" style="">
              <div class="card-body">
                <p class="mb-2">More than just a notification.</p>
                <p class="mb-0">Get detailed reports with Breach Report including the source, form of the attack, scope, and any additional known information about the breach.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-1" href="#what-we-do-accordion-1-item-4" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-binoculars h1 mb-0 mr-2"></i>
                  In-Depth investigation
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-1-item-4" class="collapse" data-parent="#what-we-do-accordion-1" style="">
              <div class="card-body">
                <p class="mb-2">When? How? Why?</p>
                <p class="mb-2">A data breach takes time, effort, motivation, and planning to execute. The team at Breach Report investigates data breaches by running an in-depth audit and providing you with a comprehensive action plan.</p>
                <p class="mb-0">We also analyze the latest breaches and publish findings, both on our blog and weekly newsletter.</p>
              </div>
            </div>
          </div>
        </div>

        {# <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-desktop"></i>
              </div>
              <div class="featured-title">
                <h5>Real-time Monitoring</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Proactive, not reactive. Get real-time updates about your email accounts status.</p>

                <div class="collapse" id="what-we-do-feature-1">
                  <p class="mb-2">Breach Report reports have real-time credential leaks monitoring which means our database gets updated instantly.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-0">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-shield"></i>
              </div>
              <div class="featured-title">
                <h5>Account Takeover Protection</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Protection against theft, spam, fraud, and attacks 24/7</p>

                <div class="collapse" id="what-we-do-feature-2">
                  <p class="mb-2">Breaches can happen anytime. Even when you’re sleeping. That’s why Breach Report can automatically change your email account credentials as soon as the system finds a positive match.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-3">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-folder"></i>
              </div>
              <div class="featured-title">
                <h5>Detailed Reports</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">More than just a notification</p>

                <div class="collapse" id="what-we-do-feature-3">
                  <p class="mb-2">Get detailed reports with Breach Report including the source, form of the attack, scope, and any additional known information about the breach.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-3" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-3">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-binoculars"></i>
              </div>
              <div class="featured-title">
                <h5>In-Depth investigation</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">When? How? Why?</p>

                <div class="collapse" id="what-we-do-feature-4">
                  <p class="mb-2">A data breach takes time, effort, motivation, and planning to execute. The team at Breach Report investigates data breaches by running an in-depth audit and providing you with a comprehensive action plan.</p>

                  <p class="mb-2">We also analyze the latest breaches and publish findings, both on our blog and weekly newsletter.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-4" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div> #}
      </div>
    </div>

    <div class="row align-items-center pos-r">
      <div class="col-lg-6 col-md-12 order-lg-12 image-column left">
        <div class="blink-img">
          <img class="img-fluid blinkblink" src="assets/imgs/pattern/02.png" alt="">
        </div>
        <img src="assets/imgs/svg/04.svg" alt="" class="img-fluid z-index-1 w-100">
      </div>

      <div class="col-lg-6 col-md-12 md-mt-5 order-lg-0 ml-auto">
        <div id="what-we-do-accordion-2" class="accordion style-1 py-5 my-5">
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-2" href="#what-we-do-accordion-2-item-1" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-hdd-o h1 mb-0 mr-2"></i>
                  Credentials Recovery
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-2-item-1" class="collapse" data-parent="#what-we-do-accordion-2" style="">
              <div class="card-body">
                <p class="mb-2">Detect, Track, and Recover.</p>
                <p class="mb-0">Recover lost passwords and gain back control of your email accounts.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-2" href="#what-we-do-accordion-2-item-2" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-cloud h1 mb-0 mr-2"></i>
                  Cloud Integration
                </a>
              </h6>
            </div>

            <div id="what-we-do-accordion-2-item-2" class="collapse" data-parent="#what-we-do-accordion-2" style="">
              <div class="card-body">
                <p class="mb-2">Easy access to reports over cloud.</p>
                <p class="mb-0">Full integration with the cloud and give easy access to your in-house cybersecurity department with all the necessary information via our high-speed links.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-2" href="#what-we-do-accordion-2-item-3" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-cubes h1 mb-0 mr-2"></i>
                  Customized Solutions
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-2-item-3" class="collapse" data-parent="#what-we-do-accordion-2" style="">
              <div class="card-body">
                <p class="mb-2">Different solutions for different entities.</p>
                <p class="mb-0">Every business has unique security needs and Breach Report enables you to customize solutions to your liking, including special protocols to be following during a breach.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#what-we-do-accordion-2" href="#what-we-do-accordion-2-item-4" class="collapsed d-flex align-items-center" aria-expanded="false">
                  <span></span>
                  <i class="la la-gears h1 mb-0 mr-2"></i>
                  API Access
                </a>
              </h6>
            </div>
            <div id="what-we-do-accordion-2-item-4" class="collapse" data-parent="#what-we-do-accordion-2" style="">
              <div class="card-body">
                <p class="mb-2">Protect your website with our comprehensive API.</p>
                <p class="mb-0">API includes: full breached domain information, domain watchdog, monitoring of verified email accounts and domains and detailed breach lookup.</p>
              </div>
            </div>
          </div>
        </div>

        {# <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-hdd-o"></i>
              </div>
              <div class="featured-title">
                <h5>Credentials Recovery</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Detect, Track, and Recover</p>

                <div class="collapse" id="what-we-do-feature-5">
                  <p class="mb-2">Recover lost passwords and gain back control of your email accounts.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-5" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-0">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-cloud"></i>
              </div>
              <div class="featured-title">
                <h5>Cloud Integration</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Easy access to reports over cloud</p>

                <div class="collapse" id="what-we-do-feature-6">
                  <p class="mb-2">Full integration with the cloud and give easy access to your in-house cybersecurity department with all the necessary information via our high-speed links.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-3">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la  la-cubes"></i>
              </div>
              <div class="featured-title">
                <h5>Customized Solutions</h5>
              </div>
              <div class="featured-desc">
                <p class="mb-2">Different solutions for different entities</p>

                <div class="collapse" id="what-we-do-feature-7">
                  <p class="mb-2">Every business has unique security needs and Breach Report enables you to customize solutions to your liking, including special protocols to be following during a breach.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-7" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-3 mt-md-3">
            <div class="featured-item style-3">
              <div class="featured-icon">
                <i class="la la-gears"></i>
              </div>
              <div class="featured-title">
                <h5>API Access</h5>
              </div>
              <div class="featured-desc">
                <p>Protect your website with our comprehensive API.</p>

                <div class="collapse" id="what-we-do-feature-8">
                  <p class="mb-2">API includes: full breached domain information, domain watchdog, monitoring of verified email accounts and domains and detailed breach lookup.</p>
                </div>

                <p class="mb-0 text-center">
                  <a data-toggle="collapse" href="#what-we-do-feature-8" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span data-toggle-hidden>Read more</span>
                    <span data-toggle-shown>Collapse</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div> #}
      </div>
    </div>
  </div>
</section>
