{% set m = datasets.get('meta') %}
{% set build = false %}
{% set url = ('/assets/' if build else '') %}

<!doctype html>
<html class="no-js" lang="{{ m.lang }}">

<head>
  <meta charset="{{ m.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% block meta %}
  <title>{{ m.title }}</title>
  <meta name="description" content="{{ m.description }}">
  {% endblock %}

  <meta name="viewport" content="width=device-width">

  {% if m.og.use == true %}
    <meta property="og:url" content="{{ m.og.url }}" />
    <meta property="og:site_name" content="{{ m.og.site_name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ m.og.url + url + 'assets/imgs/breachreport-og-logotype@1200x630.png' }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    {% block ogMeta %}
    <meta property="og:title" content="{{ m.og.title }}" />
    <meta property="og:description" content="{{ m.og.descr }}" />
    {% endblock %}
  {% endif %}

  {% if m.favicon %}
  <link rel="shortcut icon" href="{{ url + 'favicon.ico' }}">
  {% endif %}

  <link rel="stylesheet" href="{{ url + 'css/main.css' }}">
</head>

<body class="position-relative">
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% include "partials/preloader.njk" %}

  {% block content %} {% endblock %}

  {% block templates %} {% endblock %}

  <script src="{{ url + 'js/vendor.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.3.3.1.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/popper.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/bootstrap.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.appear.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/modernizr.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.easing.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/menu/jquery.smartmenus.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/owl-carousel/owl.carousel.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/magnific-popup/jquery.magnific-popup.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/counter/counter.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/countdown/jquery.countdown.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/contact-form/contact-form.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/contact-form/jquery.validate.min.js'}}" charset="utf-8"></script>
  {# <script src="https://maps.googleapis.com/maps/api/js"></script> #}
  {# <script src="{{ url + '
'}}" charset="utf-8"></script> #}
  <script src="{{ url + 'js/wow.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/theme-script.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/main.js'}}" charset="utf-8"></script>

</body>

</html>
