{% set m = datasets.get('meta') %}
{% set build = false %}
{% set url = ('/assets/' if build else '') %}

<!doctype html>
<html class="no-js" lang="{{ m.lang }}">

<head>
  <meta charset="{{ m.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ m.title }}</title>
  <meta name="description" content="{{ m.description }}">
  <meta name="viewport" content="width=device-width">

  {% if m.og.use == true %}
  <meta property="og:title" content="{{ m.og.title }}" />
  <meta property="og:url" content="{{ m.og.url }}" />
  <meta property="og:site_name" content="{{ m.og.site_name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ m.og.url + url + 'assets/imgs/breachreport-og-logotype@1200x630.png' }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="{{ m.og.descr }}" />
  {% endif %}

  {% if m.favicon %}
  <link rel="shortcut icon" href="{{ url + 'favicon.ico' }}">
  {% endif %}

  <link rel="stylesheet" href="{{ url + 'css/main.css' }}">
</head>

<body class="position-relative">
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% include "partials/preloader.njk" %}

  {% block content %} {% endblock %}

  <template data-form-verify-t="error">
    <p class="text-center mb-2">
      * Something went wrong, try again later.
    </p>
  </template>

  <template data-form-verify-t="has-breaches">
    <p class="text-center mb-2">
      Oh no! The entered email address was found in <span data-form-verify-breaches>several breaches</span>.
    </p>
  </template>

  <template data-form-verify-t="no-breaches">
    <p class="text-center mb-2">
      Congratulations! Your email wasn't found in any existing breaches.
    </p>
  </template>

  <template data-form-verify-t="btn-fail">
    <p class="text-center small mb-2">
      <a href="#" class="btn btn-theme btn-sm" data-form-verify-btn>Learn more</a>
    </p>
  </template>

  <template data-form-verify-t="btn-success">
    <p class="text-center small mb-2">
      <a href="#" class="btn btn-theme btn-sm" data-form-verify-btn>Notify me</a>
    </p>
  </template>

  <template data-form-verify-t="unreg-fail">
    <p class="text-center small mb-2">
      * To access detailed list of breaches you are required to verify that you are the owner of this email address. We will
      instantly send the verification link to your mailbox.
    </p>
  </template>

  <template data-form-verify-t="unreg-success">
    <p class="text-center small mb-2">
      Verify your email address and we will notify you if we find your account in the future breaches.
    </p>
  </template>

  <template data-form-verify-t="unreg-msg">
    <p class="text-center small mb-2">
      We sent an email with instructions on how to activate you Breach Report account.
    </p>
  </template>

  <template data-form-verify-t="unver">
    <p class="text-center small mb-2">
      The account with this email address already exists. We sent the verification link to your mailbox. Follow the instructions from the email to access Breach Report.
    </p>
  </template>

  <template data-form-verify-t="ver">
    <p class="text-center small mb-2">
      The account with this email address already exists. <a href="/portal/login">Click here</a> to sign in to your account.
    </p>
  </template>

  <script src="{{ url + 'js/vendor.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.3.3.1.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/popper.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/bootstrap.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.appear.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/modernizr.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/jquery.easing.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/menu/jquery.smartmenus.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/owl-carousel/owl.carousel.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/magnific-popup/jquery.magnific-popup.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/counter/counter.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/countdown/jquery.countdown.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/contact-form/contact-form.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/contact-form/jquery.validate.min.js'}}" charset="utf-8"></script>
  {# <script src="https://maps.googleapis.com/maps/api/js"></script> #}
  {# <script src="{{ url + '
'}}" charset="utf-8"></script> #}
  <script src="{{ url + 'js/wow.min.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/theme-script.js'}}" charset="utf-8"></script>
  <script src="{{ url + 'js/main.js'}}" charset="utf-8"></script>

</body>

</html>
