.domain {
  position: relative;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  width: auto;
  margin-bottom: 25px;

  @include bp-up(md) {
    width: 589px;
    height: 456px;
    margin-bottom: 0;
  }

  &-info {
    text-align: center;
  }

  &-img {
    position: absolute;
    z-index: -1;

    display: none;

    width: 100%;
    height: 100%;

    @include bp-up(md) {
      display: block;
    }
  }

  &-email {
    margin-bottom: 0;

    text-transform: uppercase;

    color: #ff0000;

    font-size: 71px;
    font-weight: 700;
    line-height: .9em;

    &-bordered {
      display: inline-block;

      margin-bottom: 10px;
      padding: 10px;

      border: solid 5px #eb0404;
      border-radius: 30px;
    }

    &-caption {
      margin-bottom: 0;
      margin-bottom: 15px;

      text-transform: uppercase;

      color: #ff0000;

      font-size: 19px;
      font-weight: bold;
      line-height: .9em;
    }
  }

  &-why-important {
    margin-bottom: 0;

    line-height: 1;

    a {
      position: relative;

      text-transform: uppercase;

      color: #15173d;

      font-size: 29px;
      font-weight: bold;
      line-height: 1;

      &:before {
        position: absolute;
        bottom: 6px;

        width: 100%;
        height: 1px;

        content: "";

        background-color: #15173d;
      }
    }
  }

  &-eval {
    position: relative;

    order: -1;

    margin-bottom: 10px;
    padding: 15px 29px 9px 16px;

    color: white;
    border-radius: 10px;
    background-color: #eb0404;

    @include bp-up(md) {
      position: absolute;
      top: -5px;
      right: 3px;

      order: 0;

      margin-bottom: 0;
    }

    &-letter {
      font-size: 98.5px;
      font-weight: bold;
      line-height: 69px;
    }

    &-percent {
      position: absolute;
      right: 11px;
      bottom: 3px;

      font-size: 22px;
      font-weight: 700;
    }
  }
}
