{% macro make(obj) %}
<div class="box domain">
  <h2 class="domain-heading">
    <i class="domain-heading-icon"
      style="background-image: url({{ obj.heading_icon_img }});"></i>{{ obj.heading }}
  </h2>

  <img class="domain-img" src="{{ obj.preview_img }}" alt="{{ obj.preview_alt }}"
    width="400">

  <div class="domain-main-info">
    <p class="mb-1">
      <b>Registry Expiration:</b> 2020-04-08 04:23:44 UTC
    </p>
    <p class="mb-1">
      <b>Updated:</b> 2019-04-04 01:15:47 UTC
    </p>
    <p class="mb-0">
      <b>Created:</b> 1998-07-15 00:00:00 UTC
    </p>
  </div>

  <div class="domain-info">
    <input id="domain-info" type="checkbox" hidden>

    <div class="domain-info-content" data-calculate-height>
      <div class="row mb-2 mt-2">
        <div class="col-6 mb-3">
          <h3 class="domain-info-heading">
            SSL grade
          </h3>

          <p class="domain-info-text mb-0">
            <a
              href="//www.ssllabs.com/ssltest/analyze.html?d=krypton.moscow">https://www.ssllabs.com/ssltest/analyze.html?d=krypton.moscow</a>
          </p>
        </div>

        <div class="col-6 mb-3">
          <h3 class="domain-info-heading">
            IPs and open ports
          </h3>

          <p class="domain-info-text mb-0 text-justify">
            Nmap scan report for krypton.moscow (62.77.152.49)
          </p>
        </div>

        {% set info_one = [
                  'Registrant Name: Marina Kobyakova',
                  'Registrant Organization: Kripton, LLC',
                  'Registrant Street: Bolshaya Novodmitrovskaya, d. 36, str 12',
                  'Registrant City: Moskva',
                  'Registrant State/Province:',
                  'Registrant Postal Code: 127015',
                  'Registrant Country: RU',
                  'Registrant Phone: +7.9031383289',
                  'Registrant Phone Ext:',
                  'Registrant Fax:',
                  'Registrant Fax Ext:',
                  'Registrant Email: mk@jury.online'] %}
        <div class="col-6 mb-0">
          <h3 class="domain-info-heading">
            whois contacts
          </h3>

          {% for item in info_one %}
          <p class="domain-info-text text-justify{{ ' mb-0' if loop.index == info_one.length else ' mb-1'}}">
            {{ item }}
          </p>
          {% endfor %}
        </div>

        <div class="col-6 mb-0">
          {% set info_two = [
                    ';; ANSWER SECTION: krypton.moscow. 15107 IN A 62.77.152.49',
                    ';; AUTHORITY SECTION:',
                    'moscow. 1853 IN NS c.dns.flexireg.org.',
                    'moscow. 1853 IN NS a.dns.flexireg.ru.',
                    'moscow. 1853 IN NS b.dns.flexireg.net.',
                    'moscow. 1853 IN NS d.dns.flexireg.domains.'
                  ]%}

          <h3 class="domain-info-heading">
            dns records
          </h3>

          {% for item in info_two %}
          <p class="domain-info-text text-justify{{ ' mb-0' if loop.index == info_one.length else ' mb-1'}}">
            {{ item }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <label for="domain-info" class="domain-info-label"
      style="background-image: url({{ obj.icon_arrow }});">
      toggle
    </label>
  </div>
</div>
{% endmacro %}
