{% extends "layout.njk" %}

{% block content %}

{% include "partials/home.njk" %}

<div class="page-content">
  {% include "partials/about.njk" %}

  {% include "partials/what-we-do.njk" %}

  {% include "partials/how-it-works.njk" %}
</div>

{% endblock %}
