{% extends "layout.njk" %}

{% block content %}

{% include "partials/home.njk" %}

<div class="page-content">
  {% include "partials/about.njk" %}

  {% include "partials/what-we-do.njk" %}

  {% include "partials/how-it-works.njk" %}

  {% include "partials/pricing.njk" %}

  {% include "partials/stats.njk" %}

  {% include "partials/subscribe.njk" %}
</div>

{% include "partials/footer.njk" %}

<div class="modal fade" id="get-for-free-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="featured-item style-2">
        <div class="featured-title text-center">
          <h5>Free access to BreachReport includes:</h5>
        </div>
        <div class="featured-desc text-center">
          <p class="mb-2">Monitoring and Alerting of 5 email accounts</p>
          <p class="mb-5">Limited monitoring of 1 domain</p>

          <div class="subscribe-form mb-1">
            <form id="mc-form" class="group">
              <input type="email" value="" name="search" class="email" placeholder="Email address" required="">
              <button class="btn btn-theme" type="submit">Verify</button>

              <p data-form-note class="small mb-4 mt-1">* We will send the verification link to your mailbox. Follow the instructions from the email to access Breach Report.</p>
            </form>
          </div>

          <p class="mb-0 text-center">
            <a data-dismiss="modal" href="#" class="btn btn-dark btn-sm">Close</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
