{% extends "layout.njk" %}

{% block content %}

{% include "partials/header-index.njk" %}

{% include "partials/home.njk" %}

<div class="page-content">
  {% include "partials/about.njk" %}

  {% include "partials/what-we-do.njk" %}

  {% include "partials/how-it-works.njk" %}

  {% include "partials/pricing.njk" %}

  {% include "partials/stats.njk" %}

  {% include "partials/subscribe.njk" %}
</div>

{% include "partials/footer.njk" %}

{% include "partials/get-for-free-modal.njk" %}

{% include "partials/no-purchase-notification-modal.njk" %}

{% include "partials/cookie-policy-modal.njk" %}


{% endblock %}
