{% extends "layout.njk" %}

{% import "blocks/domain.njk" as domain %}

{% block content %}

{% include "partials/header.njk" %}

<div class="page-content page-report">
  <div class="page-report-content">
    <div class="container page-report-box">
      <div class="row">
        <div class="col-12">
          {% include "partials/report-domain.njk" %}
        </div>
      </div>
    </div>

    <div class="container page-report-box">
      <div class="row">
        <div class="col-12">
          <h2 class="page-report-heading">
            Breaches affecting britishairways.com
          </h2>
        </div>

        <div class="col-12 col-md-6">
          <p class="text-center small font-weight-bold">
            Timeline of breaches
          </p>

          <div data-timeline>
            <div class="report-timeline-info">
              <span data-timeline-date></span>
              <span class="report-timeline-amount">
                Amount: <span data-timeline-amount></span>
              </span>
            </div>

            <div class="report-timeline" id="visualization"></div>

            <div data-timeline-structure class="report-timeline-structure"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <p class="text-center small font-weight-bold">
            Structure of compromised private data for britishairways.com - <span data-timeline-chart-name>All breaches</span>
          </p>

          <canvas data-timeline-chart></canvas>
        </div>
      </div>
    </div>

    <div class="container page-report-box">
      <div class="row">
        <h2 class="col-12 page-report-heading">
          Compromised Accounts Encryption Types
        </h2>
        <div class="col-12">
          <div class="page-report-box-content">
            <div class="row">
              <div class="col-6">
              </div>

              <div class="col-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% include "partials/footer.njk" %}

{% include "partials/get-for-free-modal.njk" %}

{% include "partials/cookie-policy-toast.njk" %}

{% endblock %}

