{% extends "layout.njk" %}

{% import "blocks/box.njk" as box %}

{% block content %}

{% include "partials/header.njk" %}

<div class="page-content page-report">
  <div class="page-report-content">
    <div class="container page-report-box">
      <div class="row">
        <div class="col-12">
          {% include "partials/report-domain.njk" %}
        </div>
      </div>
    </div>

    <div class="container page-report-box">
      <div class="row">
        <div class="col-12">
          <h2 class="page-report-heading">
            Breaches affecting britishairways.com
          </h2>
        </div>

        <div class="col-12 col-md-6">
          <p class="text-center small font-weight-bold">
            Timeline of breaches
          </p>

          <div data-timeline>
            <div class="report-timeline-info">
              <span data-timeline-date></span>
              <span class="report-timeline-amount">
                Amount: <span data-timeline-amount></span>
              </span>
            </div>

            <div class="report-timeline" id="visualization"></div>

            <div data-timeline-structure class="report-timeline-structure"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <p class="text-center small font-weight-bold">
            Structure of compromised private data for britishairways.com - <span data-timeline-chart-name>All breaches</span>
          </p>

          <canvas data-timeline-chart></canvas>
        </div>
      </div>
    </div>

    <div class="container page-report-box">
      {% include "partials/report-passwords.njk" %}
    </div>

    <div class="container page-report-box">
      {% include "partials/report-charts.njk" %}
    </div>

    <div class="container page-report-box">
      <div class="row">
        <div class="col-12 col-md-6 d-flex">
          {% set content %}
            <canvas data-chart data-chart-dataset="types"></canvas>
          {% endset %}

          {{ box.make({ content: content, class: 'box_theme_turquoise', heading: 'Username-Password Combinations Across Breaches', plate: 'Usernames-password matches of corporate accounts across all breaches' }) }}
        </div>

        <div class="col-12 col-md-6 d-flex">
          {% set content %}
            <canvas data-chart data-chart-dataset="types"></canvas>
          {% endset %}

          {{ box.make({ content: content, class: 'box_theme_turquoise w-100', heading: 'Type of breached accounts', plate: 'Users and corporate clients' }) }}
        </div>
      </div>
    </div>

  </div>
</div>

{% include "partials/footer.njk" %}

{% include "partials/get-for-free-modal.njk" %}

{% include "partials/cookie-policy-toast.njk" %}

{% endblock %}

