[data-toggle="collapse"] {
  &[aria-expanded="false"] [data-toggle-shown] {
    display: none;
  }

  &[aria-expanded="true"] [data-toggle-hidden] {
    display: none;
  }
}

.navbar-collapse {
  @include media-breakpoint-up(xl) {
    margin-left: auto;
    margin-right: 25px;
    flex-grow: 0;
  }
}
